<%- include('header'); -%>
<!-- demo-day start-->
<header>
      <div class="header-area ">
          <div id="sticky-header" class="main-header-area">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-2">
                          <div class="logo">
                              <a href="index.html">

                              </a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-7">
                          <div class="main-menu white_text  d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li><a href="/">Home</a></li>
                                      <li><a href="/login">Login</a></li>
                                      <li><a href="/signup">Signup</a></li>
                                      <li><a href="/blog">Blog</a></li>
                                      <li><a href="/recipes">Recipes</a></li>
                                      <li><a href="/faq">FAQ</a></li>
                                      <li><a href="/feed">Submit</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                          <div class="search_icon">

                          </div>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </header>
  <!-- header-end -->

  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>Cannabliss Blog</h3>
                      <h4 class="subHead">The Latest News and Culture Updates</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /bradcam_area  -->


  <!--================Blog Area =================-->
  <section class="blog_area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="img/blog/sign.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="https://www.leafly.com/news/lifestyle/star-signs-cannabis-strains-horoscopes-april-2020">
                                <h2>Star signs and cannabis strains: April 2020 horoscopes</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://hightimes.com/grow/grow-weed-guide-beginners/">
                                  <h2>How To Grow Weed: A Step-by-Step Guide For Beginners</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>

                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog2.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://www.cannabisculture.com/content/2020/03/31/mrs-green-has-the-cannabis-collard-green-recipe-that-will-melt-your-troubles-away/">
                                  <h2>Mrs. Green Has the Cannabis Collard Green Recipe That Will Melt Your Troubles Away</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>

                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog3.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://420intel.com/articles/2020/04/02/massachusetts-no-adult-use-cannabis-sales-amid-covid-19">
                                  <h2>Massachusetts: No Adult-Use Cannabis Sales amid COVID-19</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>

                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog4.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://www.cannabisculture.com/content/2020/03/15/how-cannabis-helps-with-my-cerebral-palsy-symptoms/">
                                  <h2>How Cannabis Helps With My Cerebral Palsy Symptoms</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>

                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog5.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://www.civilized.life/articles/heres-why-cannabis-boosts-your-artistic-side/">
                                  <h2>Here's Why Cannabis Boosts Your Artistic Side</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>
                      <article class="blog_item">
                          <div class="blog_item_img">
                              <img class="card-img rounded-0" src="img/blog/blog6.jpg" alt="">
                              <a href="#" class="blog_item_date">
                                  <h3>15</h3>
                                  <p>Jan</p>
                              </a>
                          </div>

                          <div class="blog_details">
                              <a class="d-inline-block" href="https://hightimes.com/business/new-software-ensures-cannabis-advertising-complies-with-regulations/">
                                  <h2>New Software Ensures Cannabis Advertising Complies With Regulations</h2>
                              </a>
                              <p>That dominion stars lights dominion divide years for fourth have don't stars is that
                                  he earth it first without heaven in place seed it second morning saying.</p>
                              <ul class="blog-info-link">
                                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                              </ul>
                          </div>
                      </article>
<!--************************** Bottom Nav Page 2 blog ************************* -->
                      <!-- <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <i class="ti-angle-left"></i>
                                  </a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">1</a>
                              </li>
                              <li class="page-item active">
                                  <a href="#" class="page-link">2</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <i class="ti-angle-right"></i>
                                  </a>
                              </li>
                          </ul>
                      </nav> -->
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">

                  </div>
              </div>
          </div>
      </div>
  </section>

<!-- demo-day end -->
<%- include('footer'); -%>
