<%- include('header'); -%>
<%- include('headertwo'); -%>
<!-- demo-day start-->
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu white_text  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                      <li><a href="/">Home</a></li>
                                      <li><a href="/login">Login</a></li>
                                      <li><a href="/signup">Signup</a></li>
                                      <li><a href="/blog">Blog</a></li>
                                      <li><a href="/faq">FAQ</a></li>
                                      <li><a href="/feed">Feed</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="search_icon">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
   <%# <!-- bradcam_area  --> %>
    <div class="bradcam_area breadcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Cannabliss Dosage</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
     %>
<!-- Template end html*********************** -->
<!-- HTML for dosage calc got from kindmedsaz*************** -->
    <body class="page-template-default page page-id-483 page-child parent-pageid-196 thc-calculator">
	    <div class="main-content" id="internals">
	    	<!-- splash section goes here -->
      <div class="internal-splash lazyload" style="margin-top: -80px;">
        <div class="container">
          <h1>Cannabutter Dosage Calculator</h1>
      <h3><span class="text-green">Looking to cook edibles with butter?</span></h3>
      <p>The cannabutter dosage calculator allows you to determine the butter to cannabis ratio needed to make your edibles as potent as they need to be for your individual needs. Simply enter in the amount of cannabis you have and the number of servings you’re wanting to make, and the dosage calculator will do the rest.</p>
        </div>
       <div class="divider"></div>
     </div>
    <div class="one-col-layout theme-light  " style="background-color: #ffffff"><div class="container"><div class="section"><div class="row full-column-content"><div class="col s12"><style>@media screen and (max-width: 640px){#og_iframe{height: 1300px;width:100%;}}@media screen and (min-width: 641px) and (max-width: 1024px){#og_iframe{height: 1300px;width:100%;}}@media screen and (min-width: 1125px){#og_iframe{height: 1300px;width:100%;}}</style>
    <p><iframe id='og_iframe' src='https://eminent.outgrow.us/59ffff486e8120c82a4204e6' style='border: none; overflow: hidden;' scrolling='yes'></iframe></p>
<!-- HTML for dosage calc got from kindmedsaz end**************-->
<!-- demo-day end -->
<%- include('footer'); -%>
