<%- include('header'); -%>
<!-- demo-day start-->
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu white_text  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                      <li><a href="/">Home</a></li>
                                      <li><a href="/login">Login</a></li>
                                      <li><a href="/signup">Signup</a></li>
                                      <li><a href="/blog">Blog</a></li>
                                      <li><a href="/recipes">Recipes</a></li>
                                      <li><a href="/faq">FAQ</a></li>
                                      <li><a href="/feed">Submit</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="search_icon">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Frequently Asked Questions</h3>
                        <h4 class="subHead">Whats fact and whats fiction</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
<!-- FAQs -->
    <div class="box">
      <p class="heading">FAQs</p>
      <div class="faqs">
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
      </div>
    </div>
<!-- demo-day end -->
<%- include('footer'); -%>
