<%- include('header'); -%>
<!-- demo-day start-->
<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu white_text  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                      <li><a href="/">Home</a></li>
                                      <li><a href="/login">Login</a></li>
                                      <li><a href="/signup">Signup</a></li>
                                      <li><a href="/blog">Blog</a></li>
                                      <li><a href="/faq">FAQ</a></li>
                                      <li><a href="/feed">Feed</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="search_icon">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Frequently Asked Questions</h3>
                        <h4 class="subHead">Whats fact and whats fiction</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
<!-- FAQs -->
    <div class="box">
      <p class="heading">FAQs</p>
      <div class="faqs">
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
        <details open>
          <summary>How is Marijuana used?</summary>
          <p class="text">There are many ways of using marijuana, and each one affects users differently. Marijuana can be rolled up and smoked like a cigarette (a joint) or a cigar (a blunt). Marijuana can also be smoked in a pipe. Sometimes people mix it in food and eat it or brew it as a tea (edibles). Smoking oils, concentrates, and extracts from the marijuana plant are on the rise. People who use this practice call it “dabbing.”</p>
        </details>
        <details open>
          <summary>Is Marijuana Medicine?</summary>
          <p class="text">The marijuana plant has chemicals that may help symptoms for some health problems. More and more states are making it legal to use the plant as medicine for certain conditions. But there isn’t enough research to show that the whole plant works to treat or cure these conditions. Also, the U.S. Food and Drug Administration (FDA)External has not recognized or approved the marijuana plant as medicine.

Because marijuana is often smoked, it can damage your lungs and cardiovascular system (e.g., heart and blood vessels). These and other damaging effects on the brain and body could make marijuana more harmful than helpful as a medicine. Another problem with marijuana as a medicine is that the ingredients aren’t exactly the same from plant to plant. There’s no way to know what kind and how much of a chemical you’re getting.

Two medicines have been made as pills from a chemical that’s like THC, one of the chemicals found in the marijuana plant that makes people feel “high.” These two medicines can treat nausea if you have cancer and make you hungry if you have AIDS and don’t feel like eating. But the chemical used to make these medicines affects the brain also, so it can do things to your body other than just working as medicine.

Another marijuana chemical that scientists are studying, called cannabidiol (CBD), doesn’t make you high because it acts on different parts of the nervous system than THC Scientists think this chemical might help children who have a lot of seizures (when your body starts twitching and jerking uncontrollably) that can’t be controlled with other medicines. Some studies have started to see whether it can help.</p>
        </details>
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
        <details open>
          <summary>What is cannabis?</summary>
          <p class="text">Marijuana, which can also be called weed, pot, dope, or cannabis, is the dried flowers and leaves of the cannabis plant. It contains mind-altering (e.g., psychoactive) compounds like tetrahydrocannabinol, or THC, as well as other active compounds like cannabidiol, or CBD, that are not mind-altering.</p>
        </details>
      </div>
    </div>
<!-- demo-day end -->
<%- include('footer'); -%>
