<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Cannabliss</title>
      <link rel="stylesheet" href="../style.css">
      <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
      <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon.ico">
      <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon.ico">
      <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
      <!-- Cannabliss -->
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="style.css">
      <!-- CSS here -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/css/magnific-popup.css">
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/themify-icons.css">
      <link rel="stylesheet" href="/css/nice-select.css">
      <link rel="stylesheet" href="/css/flaticon.css">
      <link rel="stylesheet" href="/css/gijgo.css">
      <link rel="stylesheet" href="/css/animate.min.css">
      <link rel="stylesheet" href="/css/slick.css">
      <link rel="stylesheet" href="/css/slicknav.css">
      <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
