body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
.feedPost {
  /* border: 5px solid red; */
  /* height: 1000px; */
  width: 100%;
  float left;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: antiquewhite;
}

.feedPost ul li span {
  line-height: 3;
  font-size: 14px;
}
.feedPost ul li img {
  height: 400px;
  border-radius: 10px;
  /* width: 40%; */
}
div.recepies_info ul li img {
  height: 300px;
  border-radius: 10px;
}
/* div.recepies_text p {
  margin-left: 70px;
} */
.prepTime{
  /* border: 1px solid black; */
  border-radius: 3px;
  height: 40px;
  width: 50%;
}
.prepTime-one, .prepTime-two{
  /* border:1px solid red; */
  height: 40px;
  width: 50%;
  float:left;

}
.prepTime-two{
    text-align: right;
}
.prepTimes{
  /* border: 1px solid black; */
  border-radius: 3px;
  /* height: 200px; */
  width: 100%;
}
.shortDes{
  /* border: 1px solid blue; */
  height: 55px;
  width: 50%;

}
.shortDes p {
  font-size: 16px;
}
.prepTime-one span, .prepTime-two span {
  font-size: 16px;
}
.feedPostColumn li a img{
  width: 50%;
}
/* .feedPostColumn{
  border: 1px solid green;
} */
.feedPostColumn li
{
  padding-left: 500px;
}
div.recepies_info ul li h3{
  margin-top: 10px;
  margin-bottom: -15px;
}
.paragraph{
  border: 1px solid transparent;
  width: 180%;
}
/* div.bradcam_text.text-center h3{
  margin-top: -150px;
} */
.posters{
  border: 2px solid blue;
}
div.row.align-items-center{
  padding: 50px;
}
div.recipes_info ul li h3 span{
  font-size: 40px;
}
.headBottom-one img{
  height: 5px;
  width: 64%;
  margin-top: 46px;
}
.submit-form{
  /* border: 2px solid red; */
  height: 1200px;
  width: 200%;
}
.title{
  /* border: 1px solid blue; */
  width: 100%;
  /* height: 500px; */
  float:left;
}
.titleSub-one, .titleSub-two{
  /* border: 1px solid green; */
  width: 48%;
  height: 150px;
  float:left;
}
.fgg{
  margin-left: 15px;
}
.titleSub-three, .titleSub-four{
  /* border: 1px solid blue; */
  height: 250px;
  width: 48%;
  float: left;
  padding-left: 15px;
}
a.thumb img{
  border-radius: 50%;
  margin-left: -42px;
  height: 250px;
  width: 143%;
}
div.single_dish.text-center{
  width: 70%;
  padding-top: 90px;
}
.postFave{
  /* border: 3px solid blue; */
}
.lilili{
  /* border: 1px solid red; */
  width: 33%;
  float:left;
  padding: 20px;
  padding-left: 95px;
}
.login {
  font-family: arial;
  text-align: center;
  padding-bottom: 20px;
}
.topper{
  background: #b1edc7;
}
.vision{
  /* border: 1px solid black; */
  height: 500px;
  padding-top: 100px;
}
.mysaves{
  font-family: arial;
  font-size: 30px;
  padding-left: 15px;
}
.beez{
  height: 20px;
  width: 10%;
  font-size: 16px;
  padding: 1.0rem .5rem;

}
a.btn.btn-default.btn-sm.beez{
}
.frontInfo{
  margin-top:40px;
}
.recProf{
  border: 2px solid gainsboro;
  height: 600px;
  width: 32%;
  float: left;
  padding: 20px;
  margin-left: 1%;
  margin-top: 10px;
  border-radius: 5px;
}
.recProf section p strong{
  color: #ffc000;
}
.recProff{
  border: 2px solid blue;
  height: 1000px;
  width: 100%;
  float:left;
}
div.page-header.text-center h1 {
  padding-right: 742px;
  font-family: arial;
}
.feedBody{
  background: antiquewhite;
}
